body {
  background: #7B904B;
	text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 3rem;
}
ul {
	list-style-type: none;
}
a {
text-decoration: none;
font-style: none;
color: #002400;
font-weight: bold;
}
p {
 text-align: center
  padding: 10px
}
h1 {
	font-family: 'Open Sans', sans-serif;
  color: white
}
p {
	font-family: 'Open Sans', sans-serif;
}
.navcontainer nav {
  background: #002400;
  display: block;
}

.navcontainer ul {
    margin: 0px;
    padding: 15px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #002400;
    /* width: 100%;*/
}

 .navcontainer li {
  margin: 2px;
  padding: 10px;
}

.navcontainer a {
  text-decoration: none;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: white;
  font-weight: 600;
  font-size: 1em;
}

.navcontainer a:hover {
  color: #FFFFFF;
}
{
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.firstpagebody{
  background:white;
  padding: 20px;
  margin-top: 15px;
}
.topofpagetext {
  margin: 35px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
.alternativestitle{
  width: 50%
}

img{
  	width:25%;
  	border: 0;
  	outline: 0;
    transform: translate(-100%,0px);
    margin: none;
}
.mosscontainer {
  display:block;
}
.mosscontainer ul{
  margin: 0px;
  padding: 15px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  background-color: #273B09;
  width: 50%;
}
.proscontainer {
  display:block;
}
.proscontainer ul{
  margin: 0px;
  padding: 30px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
  background-color: #273B09;
  width: 100%;
  color: white;
  text-align: left;
}
.conscontainer {
  display:block;
}
.conscontainer ul{
  margin: 0px;
  padding: 30px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
  background-color: #273B09;
  width: 100%;
  color: white;
  text-align: left;
}
.prostitle li{
  list-style: none;
  font-weight: bold;
}
