body {
  background: #7B904B;
	text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
}
ul {
	list-style-type: none;
}
a {
text-decoration: none;
font-style: italic;
color: brown;
font-weight: bold;
}
a:hover {color: orange}
nav {
	background:white;
}
img {
	width:50%;
	border: 0;
	outline: 0;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
