body {
  background: #7B904B;
	text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 3rem;
}
ul {
	list-style-type: none;
}
a {
text-decoration: none;
font-style: none;
color: #002400;
font-weight: bold;
}
a:hover {color: orange}
nav {
	background:white;
}
img {
	width:50%;
	border: 0;
	outline: 0;
}
p {
  Background: #7B904B
}
h1 {
	font-family: 'Open Sans', sans-serif;
  color: white
}
p {
	font-family: 'Open Sans', sans-serif;
}
.navcontainer nav {
  background: #C29779;
  display: block;
}

.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002400;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navcontainer li {
  margin: 2px;
  padding: 10px;
}

.navcontainer a {
  text-decoration: none;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: white;
  font-weight: 600;
  font-size: 1.25em;
}

.navcontainer a:hover {
  color: #FFFFFF;
}
